const config = {
  style: 'mapbox://styles/isnot/ckdzfj1n70ee219lhgygiamwc',
  accessToken: '###mapbox_access_token###',
  showMarkers: true,
  markerColor: '#3FB1CE',
  theme: 'light',
  use3dTerrain: true,
  title: '###title###',
  subtitle: '【###place###】###subtitle###',
  byline: 'VisitSuzugamori 〜ざつ旅を辿る〜',
  footer: '<p class="navi"><a href="/">🔝各話一覧へ</a> <a href="https://github.com/VisitSuzugamori/VisitSuzugamori.github.io">💬contact</a></p><p>原作：<a href="https://store.kadokawa.co.jp/shop/b/bM1394_dD/">ざつ旅-That&#39;s Journey-</a> &copy; 石坂 ケンタ, KADOKAWA, 電撃マオウ / 地図・テンプレート：<a href="https://github.com/mapbox/storytelling">Mapbox</a> / 地図作成：VisitSuzugamori, <a href="https://twitter.com/isnot49662340">isnot</a>',
  chapters: [
###chapter-start###    {
      id: '###book###-###page###-###name###',
      alignment: '###align###',
      hidden: false,
      title: '###name###',
      image: '',
      tweet_id: '###tweet_id###',
      description: '<p>###book### ###page### ###special### ###address###</p>###twitter### ###flickr###',
      location: {
        center: [###coordinates###],
        zoom: 14,
        pitch: 60,
        bearing: 0,
      },
      mapAnimation: 'flyTo',
      rotateAnimation: false,
      callback: '',
      onChapterEnter: [],
      onChapterExit: [],
    },###chapter-end###
  ],
};
